#root {
    font-family: "Red Rose";
}

nav > ul > li > a {
    color: black;
    font-size: 16.2px;
    font-weight: 500;
}

nav > ul > li > a:hover {
    color: rgb(154, 153, 153);
}

nav > form > button {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: white !important;
    padding: 10px 25px !important;
    border-radius: 8px !important;
}
.modal a {color: inherit}

.modal a:hover{
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    color: inherit;
}
@media screen and (min-width:450px) {
    .modal-close {
        border: 0;
        background-color: inherit;
        width: 270px;
        padding-left: 260px;
    }
    .modal-close:active,:hover{
        border: 0;
    }
}

.main--col-one > h2 {
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
}

.main--col-one > h2 > strong {
    color: #A02279;
}

.main--col-one > p {
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 960px) {
    .invis-col {
        display: none;
        
    }
}

.main--footer {
    background-color: #A02279;
    width: 100%;
    text-align: center;
    min-height: 70px;
    height: auto;
    align-items: center;
    position: relative;
}

.main--footer img {
    padding: 5% 0 !important;
}

.card-container {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.card-container img {
    max-width: 100%;
}

.card-container span {
    font-size: small;
}