#root {
    font-family: "Red Rose"
}

nav > ul > li > a {
    color: black;
    font-size: 16.2px;
    font-weight: 500;
}

nav > ul > li > a:hover {
    color: rgb(154, 153, 153)
}

nav > form > button {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: white !important;
    padding: 10px 25px !important;
    border-radius: 8px !important;
}

.main--col-one > h2 {
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
}

.main--col-one > h2 > strong {
    color: #A02279;
}
.main--col-one > p {
    font-size: 24px;
    font-weight: 400;
}
@media screen and (max-width: 960px) {
    .invis-col {
        display: none;
        
    }
}
/* .main--row-one > h2 > span {
    color: #A02279;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .main--row-one {
        max-width: 646px;
        font-size: 56px;
        border: 1px solid green;
    }

} */

/* 
.main--row-two {
    font-size: 24px;
}

.main--row-three > input {
    padding: 25px;
}

.main--row-three > button {
    padding: 0 100px;
    background-color: black !important;
} */